<div class="nodes-cloud container-box">
<h4 class="title">节点导航</h4>
<ul>
    <li>
        <label for="">语言</label>
        <span class="nodes">
                <a href="/node/html">HTML</a>
                <a href="/node/css">CSS</a>
                <a href="/node/javascript">JavaScript</a>
                <a href="/node/nodejs">NodeJS</a>
                <a href="/node/ruby">Ruby</a>
                <a href="/node/pyhton">Python</a>
                <a href="/node/php">PHP</a>
        </span>
    </li>
    <li>
        <label for="">分享</label>
        <span class="nodes">
                <a href="/node/opensource">开源项目</a>
                <a href="/node/algorithm">算法</a>
                <a href="/node/math">数学</a>
                <a href="/node/compatibility">兼容性</a>
                <a href="/node/mobile">Mobile</a>
                <a href="/node/books">书籍</a>
                <a href="/node/jobs">招聘</a>
                <a href="/node/share">分享</a>
                <a href="/node/translate">翻译</a>
                <a href="/node/question">问与答</a>
        </span>
    </li>
    <li>
        <label for="">编辑器</label>
        <span class="nodes">
                <a href="/node/sublime">Sublime</a>
                <a href="/node/vim">VIM</a>
                <a href="/node/webstorm">WebStorm</a>
                <a href="/node/notepad">Notepad++</a>
        </span>
    </li>
    <li>
        <label for="">DSL</label>
        <span class="nodes">
                <a href="/node/coffeescript">CoffeeScript</a>
                <a href="/node/sass">Sass</a>
                <a href="/node/less">Less</a>
                <a href="/node/jade">Jade</a>
                <a href="/node/haml">Haml</a>
        </span>
    </li>
    <li>
        <label for="">工具</label>
        <span class="nodes">
                <a href="/node/git">Git</a>
                <a href="/node/nginx">Nginx</a>
                <a href="/node/apache">Apache</a>
        </span>
    </li>
    <li>
        <label for="">框架</label>
        <span class="nodes">
                <a href="/node/jquery">jQuery</a>
                <a href="/node/yui">YUI</a>
                <a href="/node/bootstrap">Bootstrap</a>
                <a href="/node/zepto">Zepto</a>
                <a href="/node/kissy">Kissy</a>
        </span>
    </li>
    <li>
        <label for="">规范</label>
        <span class="nodes">
                <a href="/node/w3c">W3C</a>
                <a href="/node/ecma">ECMA Script</a>
        </span>
    </li>
    <li>
        <label for="">社区</label>
        <span class="nodes">
                <a href="/node/feedback">意见反馈</a>
                <a href="/node/placard">公告</a>
                <a href="/node/dev">社区开发</a>
                <a href="/node/help">帮助</a>
        </span>
    </li>
</ul>
</div>