
    <div class="topics container-box node-topics">
        <div class="ui-header">
          <span class="bread-nav">收藏的主题</span>
        </div>

        <div class="ui-content">
            <%= render 'tlist' %>
        </div>

        <%= render 'pagination' %>
    </div>
