
<div class="container-box">
<form class="form-horizontal" action="" method="POST">
    <fieldset>
        <div id="legend" class="mb50">
            <legend class="">注册</legend>
        </div>


        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="username">用户名</label>

            <div class="controls">
                <input id="username" name="username" placeholder="" class="input-xlarge" type="text">

                <p class="help-block">用户名由字母开头，只能含有字母、数字或者下划线</p>
            </div>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>

            <div class="controls">
                <input id="email" name="email" placeholder="" class="input-xlarge" type="text">

                <p class="help-block">请输入你的E-mail，便于登录和找回密码</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">密码</label>

            <div class="controls">
                <input id="password" name="password" placeholder="" class="input-xlarge" type="password">

                <p class="help-block">密码不少于4个字符</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label" for="password_confirm">密码（确认）</label>

            <div class="controls">
                <input id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge"
                       type="password">

                <p class="help-block">请再次输入密码</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">注册</button>
            </div>
        </div>
    </fieldset>
    <input name="_xsrf" value="58bef8442e034434915f0eb5c1adc75e" type="hidden">
</form>
</div>
