    <div class="ui-header">
        <span class="title">主题列表</span>
    </div>

    <div class="topics container-box">
        <%= render 'layouts/tlist' %>
        <%= render 'layouts/pagination' %>
    </div>