<div class="nodes-cloud container-box">
<h4 class="title">导航</h4>

<ul>
    <li>
        <label for="">技术</label>
        <span class="nodes">
                <a href="/node/ruby">Ruby</a>
                <a href="/node/pyhton">Python</a>
                <a href="/node/php">PHP</a>
                <a href="/node/html">HTML</a>
                <a href="/node/css">CSS</a>
                <a href="/node/javascript">JavaScript</a>
                <a href="/node/nodejs">NodeJS</a>
        </span>
    </li>
    <li>
        <label for="">科学</label>
        <span class="nodes">
                <a href="/node/xxx">数学</a>
                <a href="/node/xxx">物理</a>
                <a href="/node/xxx">语文</a>
                <a href="/node/xxx">地理</a>
                <a href="/node/xxx">天文</a>
                <a href="/node/xxx">生物</a>
                <a href="/node/xxx">海洋学</a>
        </span>
    </li>
    <li>
        <label for="">文化</label>
        <span class="nodes">
                <a href="/node/literal">文学</a>
                <a href="/node/movie">电影</a>
                <a href="/node/music">音乐</a>
        </span>
    </li>
</ul>
</div>