<div class="pagination hide">
    <ul>
        <li class="disabled"><a href="/?p=1">«</a></li>
        <li class="active"><a href="javascript:;">1</a></li>
        <li><a href="/?p=2">2</a></li>
        <li><a href="/?p=3">3</a></li>
        <li><a href="/?p=4">4</a></li>
        <li><a href="/?p=2">»</a></li>
    </ul>
</div>